<head>
    <title>Frontend Privado (Admin)</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Panel de Administración</h1>
    <p>Este es el panel privado para administradores.</p>
    <p>Oprima el boton para iniciar la api y mostrar el codigo Qr para Vincular el Telefono Base de la App</p>
    
    <button type="button" (click)="iniciarWhatsapp()">Iniciar Api WhatsApp</button>
    <div id="codigoQR"></div>
    <!-- Agrega aquí el código HTML y JavaScript para iniciar la app y la API de WhatsApp. -->
    
</body>

