<head>
    <title>Bienvenido a la Trivia BotGame a traves de WhatsApp</title>
    <script src="public.js"></script>
</head>
<body>
    <h1>Bienvenido a la Trivia BotGame a traves de WhatsApp</h1>
    <form id="registroForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>
        <label for="telefono">Número de Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required><br><br>
        <button type="button" onclick="enviarRegistro()">Ingresar</button>
    </form>
    <div id="datosCapturados"></div>
</body>